header{
    height: 100vh;
    padding-top: 6rem;
    overflow: hidden;
}

.header-container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* socials */

a.svg{
    color: var(--color-white);
}

a.svg:hover{
    color: var(--color-primary);
}

.header-socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
}

/* picture */

.me > img{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    border: 0.5rem solid var(--color-primary);
    box-shadow: 0 0 0.5rem var(--color-primary);
    margin: 0 auto;
    display: block;
}

/* scroll button */

.scroll{
    position: absolute;
    bottom: 10%;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: scroll 1s infinite alternate;
}