.container-left, .container-right{
    flex: 1 0 auto;
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: black;
}