.container-left, .container-right{
    flex: 1 0 auto;
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: var(--color-primary-variant);
}

/* media queries */

@media screen and (max-width: 1000px){
    .container-left > .header-socials {
        justify-content: start;
        gap: 0.7rem;
    }
    
    .container-right {
        justify-content: end;
        text-align: end;
    }

    .container-right > h2 {
        font-size: 1.1rem;
    }

    footer {
        padding: 1.3rem;
    }
}

@media screen and (max-width: 600px) {
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 8rem;
    }
}